.van-cell {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 20px 30px;
        box-sizing: border-box;
        line-height: 48px;
        position: relative;
        background-color: #fff;
        color: #333;
        font-size: 28px;
        overflow: hidden;
		align-items: center;
    }
    

.van-field .van-cell__title {
    max-width: 180px;
  }
  .van-address-edit__buttons {
    padding: 40px 20px;
  }
  .van-button {
    position: relative;
    padding: 0;
    display: inline-block;
    height: 90px;
    line-height: 86px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 32px;
    text-align: center;
    -webkit-appearance: none
}
.van-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 85%;
	font-size: 32px;
	overflow: hidden;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 8px;
	background-color: #fff;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0)
}

.van-dialog__header {
	padding: 30px 0 0;
	text-align: center
}

.van-dialog__header--isolated {
	padding: 50px 0
}

.van-dialog__message {
	line-height: 1.5;
	padding: 30px 40px
}

.van-dialog__message--has-title {
	color: #999;
	font-size: 28px
}

.van-dialog__footer {
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none
}

.van-dialog__footer--buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.van-dialog__footer--buttons .van-button {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.van-dialog .van-button {
	border: 0
}

.van-dialog__confirm,
.van-dialog__confirm:active {
	color: #00c000
}

.van-dialog-bounce-enter {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(.7);
	transform: translate3d(-50%, -50%, 0) scale(.7)
}

.van-dialog-bounce-leave-active {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(.9);
	transform: translate3d(-50%, -50%, 0) scale(.9)
}
.van-picker__toolbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 80px;
	line-height: 80px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between
}
.van-picker__cancel,
.van-picker__confirm {
	color: #38f;
	padding: 0 30px;
	font-size: 30px;
}
.van-picker__columns {
	height 440px!important;
}
.van-picker-column {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	overflow: hidden;
	font-size: 32px;
	text-align: center;
	height: 440px;
}
.van-picker-column__item {
	padding: 0 10px;
	color: #999
}
.van-picker-column__item--selected {
	color: #000
}
.van-radio__input {
	position: relative;
	height: 40px
}
.van-radio .van-icon {
	pointer-events: none;
	font-size: 40px
}
.van-address-list .van-radio__label {
	margin-left: 60px
}
.van-address-list__name {
	font-size: 28px;
	line-height: 1.5
}
.van-address-list__address {
	font-size: 24px; 
	line-height: 1.5;
	color: #666
}
.van-address-list__edit {
	position: absolute;
	top: 50%;
	right: 30px;
	font-size: 40px;
	color: #999;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}
.van-address-list .van-cell__value {
	color: #333;
	padding-right: 68px;
	position: relative
}
.van-address-list__add {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9999;
	padding-left: 30px;
	font-size: 32px
}
.van-address-list__add .van-icon-add {
	color: #38f;
	font-size: 40px;
	line-height: 1.2
}
.van-cell__right-icon {
	color: #999;
	font-size: 24px;
	line-height: 24px;
	margin-left: 10px
}
.van-cell__title, .van-cell__value {
	padding-left 20px
	}