.van-search .van-cell{
    align-items: center
}
.van-tabs__wrap--scrollable .van-tab {
    flex: 0 0 25%;
}

.van-tabs__content {
    position: fixed;
    top: 84px;
    bottom: 50px;
    right: 0;
    left:80px
}

.bounce-enter-active {
    animation: bounce-in .3s;
}
.bounce-leave-active {
    animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
    0% {
        transform: translate3d(100%,0,0)
    }
    
    100% {
        transform: translate3d(0,0,0)
    }
} 
.van-goods-action {
    z-index: 1000;
}

.datails-tabs .van-tabs__content {
    position: initial;
}
.van-address-list {
    padding-bottom: 0;
}
.van-address-list__add {
    display: none;
}
.null {
    text-align: center;
    color: #bbbbbb;
    font-size: 16px;
    margin-top: 50px;
    letter-spacing: 2px;
}
.van-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}          
.van-checkbox-group {
    padding: 0 10px;
    box-sizing: border-box;
}


input[type="checkbox"] {
	-webkit-appearance: none;
	vertical-align: middle;
	margin-top: 0;
	background: #fff;
	border: #999 solid 1px;
	border-radius: 3px;
	min-height: 20px;
	min-width: 20px;
}

input[type="checkbox"]:checked {
	background: #e0322b;
}

input[type=checkbox]:checked::after {
	content: '';
	top: 19px;
	left: 4px;
	position: absolute;
	background: transparent;
	border: #fff solid 2px;
	border-top: none;
	border-right: none;
	height: 6px;
	width: 10px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.left input[type="checkbox"] {
	-webkit-appearance: none;
	vertical-align: middle;
	margin-top: 0;
	background: #fff;
	border: #999 solid 1px;
	border-radius: 3px;
	min-height: 20px;
	min-width: 20px;
}

.left input[type="checkbox"]:checked {
	background: #e0322b;
}

.left input[type=checkbox]:checked::after {
	content: '';
	top: 39px;
	left: 4px;
	position: absolute;
	background: transparent;
	border: #fff solid 2px;
	border-top: none;
	border-right: none;
	height: 6px;
	width: 10px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.home .van-search {
	padding-left: 0;
}